# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ThePath.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Repository\ThePath\ThePath\.idea\.idea.ThePath\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
